body {
    margin: 0 auto;

}
.login-container{
    display: flex;
    justify-content: center; 
    background-color: antiquewhite;    
    margin-bottom: 10px;
    /* text-align: center; */
}
.parent-container{
    margin: 1.75rem;
    background-color: green;    
    height: 90vh;
}

.side-img{
    width: 50%;
}
.side-img img {
    width: 50%;
}
.input-box{
    border-radius: 10px;
}
.input-box input {
    border-radius: 20px;
    height: 30px;
    width: 100%;
    size: 100;
    background-color: rgb(91, 192, 192);
    /* box-shadow: 0 0 0 0; */
}